body {
	background-image: url(../images/pow-star.png);
}

img {
	width: 80px;
}

#char1, #char2, #char3, #char4 {
	border: solid 3px grey;
}

#invis {
	opacity: 0;
}

#yourhp {
	position: absolute;
	top: 186px;
	visibility: hidden;
	font-family: 'PT Sans', sans-serif;	
	font-size: 25px;
}

#yourap {
	position: absolute;
	top: 219px;
	visibility: hidden;
	font-family: 'PT Sans', sans-serif;	
	font-size: 25px;
}

#enemyhp {
	position: absolute;
	top: 460px;
	visibility: hidden;
	font-family: 'PT Sans', sans-serif;	
	font-size: 25px;	
}

#yourcapower {
	position: absolute;
	top: 491px;
	visibility: hidden;
	font-family: 'PT Sans', sans-serif;	
	font-size: 25px;	
}

h2 {
	font-family: 'PT Sans', sans-serif;	
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#char3enemy, #char4enemy, #char2enemy, #char1enemy {
	margin-right: 4px;
}

#attack {
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px;
	border: 2px solid black;
	background: red;
	color: white;
	visibility: hidden;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	}

#info {
	color: black;
	background: darkgrey;
	text-align: center;
	padding: 10px;
	position: absolute;
	top: 20px;
	left: 50%;
	border: 5px dashed black;
	font-family: 'PT Sans', sans-serif;	
	font-size: 25px;	
	margin-top: 10px;
	margin-bottom: 10px;
	width: 300px;
}

#reset {
	display: none;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px;
	border: 2px solid black;
	background: red;
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	}

#playagain {
	display: none;
	border-radius: 10px;
	margin-top: 10px;
	padding: 5px;
	border: 2px solid black;
	background: red;
	color: white;
	font-family: 'PT Sans', sans-serif;
	font-size: 20px;
	}

#char1:hover {
	background-color: #64a067;
}

#char2:hover {
	background-color: #fcb5d4;
}

#char3:hover {
	background-color: #7fe967;
}

#char4:hover {
	background-color: #ecba65;
}
